.jumbotron.text-center.my-0.no-background-color
  %div
    %h1.title.home-page-text Eureka Caffee
    - 2.times do
      = image_tag 'lines.png', class: 'zig-zag-line-filter'
    %i.fas.fa-utensils
    - 2.times do
      = image_tag 'lines.png', class: 'zig-zag-line-filter'
    %div
    %h4.description.home-page-text The go-to place for ordering food!