%li.nav-item.active
  %span.middot.nav-link ·
%li.nav-item.active
  = link_to cart_path(id: session[:cart_id]), class: 'nav-link' do
    %i.fas.fa-shopping-cart
%li.nav-item.active
  %span.middot.nav-link ·
%li.nav-item.dropdown
  %a.dropdown-toggle.home-page-text.nav-link{ 'data-toggle' => 'dropdown', :href => '#' }
    Account
  %ul.dropdown-menu.home-page-text
    %li= link_to 'Profile', current_user
    %li= link_to 'Settings', edit_user_path(current_user)
    %li
      = link_to 'Log out', logout_path, method: :delete