%li.nav-item.active
  %span.middot.nav-link ·
%li.nav-item
  = link_to 'Log in', login_path, :class =>'nav-link home-page-text'
%li.nav-item.active
  %span.middot.nav-link ·
%li.nav-item
  = link_to 'Sign up', new_user_path, :class =>'nav-link home-page-text'