
.col-sm-12
  .container.text-center
    %h2 Welcome to admin dashboard!

.row.justify-content-center
  %ul
    %li= link_to 'Foods',  administrator_products_path
    %li= link_to 'Users',  administrator_users_path