$white: #fff;
$orange: #ffa500;
$black: #000;

$light-gray: #eaeaea;
$gray: #c2c3c4;
$dark-gray: #808080;
$darker-gray: #555;

$red-notice: #ff0000;
$red-notice-text: #cc0000;

$green-notice: #008000;

$base-font: Verdana;