.sorting-nav {
  background-color: $darker-gray;
}
.sorting-nav a {
  float: left;
  font-size: 16px;
  color: $black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  border-radius: 5px;
  float: left;
  overflow: visible;
  padding-right: 10px;
  padding-left: 10px;
}
.dropdown .dropbtn {
  letter-spacing: 2px;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $base-font !important;
  border: none;
  outline: none;
  color: $black;
  padding: 5px 5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.sorting-nav a:hover, .dropdown:hover .dropbtn {
  background-color: $gray;
  border-radius: 5px;
}
.sorting-nav a, .dropdown .dropbtn {
  background-color: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: $light-gray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: $black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: $gray;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.fa-angle-down {
  color: $orange;
}
div.slidecontainer {
  height: 10px;
}
div.range-slider {
  position: relative;
  width: 200px;
  height: 10px;
  float: left;
  text-align: center;
}
div.range-slider input[type="range"] {
  pointer-events: none;
  position: absolute;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 2px;
  background: $light-gray;
  box-shadow: 0px 0px 20px black;
  top: 3px;
  vertical-align: middle;
  -webkit-box-shadow: inset 0 1px 0 0 #cdc6c6, inset 0 -1px 0 0 #d9d4d4;
  left: 0;
  width: 200px;
  outline: none;
  height: 5px;
  margin: 0;
  padding: 0;
}
div.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  outline: 0;
  -webkit-appearance: none;
  box-shadow: 0px 0px 5px $black;
  width: 14px;
  height: 14px;
  border: 2px black;
  border-radius: 14px;
  background-image: -webkit-radial-gradient(black 20%, white 20%, white 98%, black 98%);
  background-image: -webkit-radial-gradient(black 20%, white 20%, white 98%, black 98%);
  background-image: radial-gradient(black 20%, white 20%, white 98%, black 98%);
}
div.range-slider input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px black;
  box-shadow: 0px 0px 20px $black;
  border-radius: 14px;
  background-image: radial-gradient(black 20%, white 20%, white 98%, black 98%);
}
div.range-slider input[type="range"]::-ms-thumb {
  pointer-events: all;
  position: relative;
  z-index: 10;
  -ms-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 14px;
  border: 2px black;
  background-image: radial-gradient(black 20%, white 20%, white 98%, black 98%);
}
div.range-slider input[type=range]::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: $black;
  border: 0;
}
div.range-slider input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}
div.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
.score {
  display: inline-flex;
  flex-wrap: wrap;
  width: fit-content;
  padding: 5px;
  font-size: 13px;
  align-content: center;
}