%footer
  %small
    Assignment reloaded? <3
  %nav
    %ul
      %li= link_to 'Click me!', 'https://www.google.com/search?q=cats&source=lnms&tbm=isch&sa=X&ved=0ahUKEwixxbXMhOrcAhWFDuwKHUMzCO4Q_AUICigB&biw=1280&bih=703'
